# Capstone Project – The Battle of Neighborhoods (Week 2)

## Part 1: scrap the web for information about London boroughs

Get the list of London boroughs from Wikipedia

In [20]:
import pandas as pd
import requests 

#Interrogate the target url
website_url = 'https://en.wikipedia.org/wiki/London_boroughs'
result = requests.get(website_url).text

#Define the class of the elment we're looking for [wikipedia table]
class_to_search = 'wikitable sortable'

#Retrieve all the tables in the document. Return an exception if no table is found.
tables = pd.read_html(website_url, attrs = {'class': class_to_search})
if not len(tables) > 0:
    raise Exception('The source page contains no tables')

#Get the first table (there is only one in the source page)
df = tables[0]

#Keep the borough column only
df = df[['London borough']]

#Clean the data
pd.set_option('mode.chained_assignment', None) #Switches off annoying warning
replacements = {'Hammersmith[notes 2]' : 'Hammersmith and Fulham', 
                'Barking[notes 3]' : 'Barking'}
for key in replacements.keys():
    df.replace(to_replace = key, value = replacements[key], inplace = True)
df

            London borough
0                   Camden
1                Greenwich
2                  Hackney
3   Hammersmith and Fulham
4                Islington
5   Kensington and Chelsea
6                  Lambeth
7                 Lewisham
8                Southwark
9            Tower Hamlets
10              Wandsworth
11             Westminster
12                 Barking
13                  Barnet
14                  Bexley
15                   Brent
16                 Bromley
17                 Croydon
18                  Ealing
19                 Enfield
20                Haringey
21                  Harrow
22                Havering
23              Hillingdon
24                Hounslow
25    Kingston upon Thames
26                  Merton
27                  Newham
28               Redbridge
29    Richmond upon Thames
30                  Sutton
31          Waltham Forest

Get the boroughs coordinates through GeoPy and add them to the dataframe

In [21]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent = "courser_capstone_battle_of_neighbourhoods_fb")
boroughs = df['London borough'].tolist()

#Get the locations
locations = list()
for borough in boroughs:
    locations.append(geolocator.geocode(borough + ', London'))

In [22]:
#Add geolocation to the dataframe
df['Latitude'] = [location.latitude for location in locations]
df['Longitude'] = [location.longitude for location in locations]

In [23]:
#df.sort_values(by = 'London borough', axis = 0, ascending = True)

Get average income data and add them to the dataframe. Data are referred to year 2018; values are in £/week. Source: https://data.london.gov.uk/dataset/earnings-place-residence-borough

In [24]:
#Get the data from the repo
source = 'https://raw.githubusercontent.com/biancovic/Coursera_Capstone/master/BattleOfNeighbourhoods/data/London_weekly_income_2018_by_borough.csv'
df_income = pd.read_csv(source)

#Clean the income data
pd.set_option('mode.chained_assignment', None) #Switches off annoying warning
replacements = {'Barking and Dagenham' : 'Barking'}
for key in replacements.keys():
    df_income.replace(to_replace = key, value = replacements[key], inplace = True)

#Merge with the original dataset
df = pd.merge(df, df_income, how = 'inner', on = ['London borough'])

Get the population by borough. Data are referred to year 2018; values are in units. Source: https://www.citypopulation.de/en/uk/greaterlondon/

In [25]:
#Get the data from the repo
source = 'https://raw.githubusercontent.com/biancovic/Coursera_Capstone/master/BattleOfNeighbourhoods/data/London_population_2018_by_borough.csv'
df_population = pd.read_csv(source)

#Merge with the original dataset
df = pd.merge(df, df_population, how = 'inner', on = ['London borough'])

In [26]:
df.sort_values(by = 'London borough', axis = 0, ascending = True)

            London borough   Latitude  Longitude  Income   Population
11                 Barking  51.538992   0.080424   479.1       211998
12                  Barnet  51.653090  -0.200226   536.6       392140
13                  Bexley  51.441679   0.150488   513.8       247258
14                   Brent  51.563826  -0.275760   480.0       330795
15                 Bromley  51.402805   0.014814   632.5       331096
0                   Camden  51.542305  -0.139560   634.7       262226
16                 Croydon  51.371305  -0.101957   552.0       385346
17                  Ealing  51.512655  -0.305195   523.0       341982
18                 Enfield  51.652085  -0.081018   479.1       333869
1                Greenwich  51.482084  -0.004542   573.7       286186
2                  Hackney  51.543240  -0.049362   555.6       279665
3   Hammersmith and Fulham  51.492038  -0.223640   681.3       185426
19                Haringey  51.601489  -0.111696   548.1       270624
20                  Harrow  51.596769  -0.337275   538.3       250149
21                Havering  51.544369  -0.144303   544.2       257810
22              Hillingdon  51.542519  -0.448335   531.9       304824
23                Hounslow  51.468613  -0.361347   535.9       270782
4                Islington  51.538429  -0.099905   687.6       239142
5   Kensington and Chelsea  51.498995  -0.199123   669.3       156197
24    Kingston upon Thames  51.409627  -0.306262   627.1       175470
6                  Lambeth  51.501301  -0.117287   620.4       325917
7                 Lewisham  51.462432  -0.010133   551.4       303536
25                  Merton  51.410803  -0.188099   594.8       206186
26                  Newham  51.530000   0.029318   479.1       352005
27               Redbridge  51.576320   0.045410   554.7       303858
28    Richmond upon Thames  51.440461  -0.305519   678.2       196904
8                Southwark  51.502922  -0.103458   589.4       317256
29                  Sutton  51.357511  -0.173640   541.2       204525
9            Tower Hamlets  51.525629  -0.033585   627.9       317705
30          Waltham Forest  51.598169  -0.017837   529.2       276700
10              Wandsworth  51.457027  -0.193261   689.9       326474

## Part 2: use Foursquare API to get the points of interest around the centre of each borough

For each borough get the number of each of the following facilities within two miles from the centre: restaurants (all), restaurants (Italian), theatres and cinemas

In [27]:
#Set the credentials for Foursquare (change with your own settings here)
CLIENT_ID = 'DGYMLBVGJRPOYU41OYW0ZOPSOS5BF5NXKQ1OUQZGP50IE0LV' # your Foursquare ID
CLIENT_SECRET = 'EPYV4BBYSUJAI4TRM0D1I3QOSYMRAXIJJMEJGEBE5WLSGMV3' # your Foursquare Secret

In [28]:
#*******************************************************
#********* This cell is for debug purpose only ********* 
#*******************************************************
# latitude = df.loc[0, 'Latitude']
# longitude = df.loc[0, 'Longitude']
# latitude, longitude
# #url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, row['Latitude'], row['Longitude'], VERSION, search_query, radius, LIMIT)
# endpoint = 'search'
# query = 'University'
# radius = 1.0 * 1609.34
# limit = 50
# version = '20200616'
# url = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&ll={},{}&query={}&radius={}&v={}&limit={}'.format(endpoint, CLIENT_ID, CLIENT_SECRET, latitude, longitude, query, radius, version, limit)
# url

# results = requests.get(url).json()
# len(results['response']['venues'])

In [29]:
#List of amenities/places to look for
search_queries = ['Italian Restaurant', 'Theatre', 'Cinema', 'University']

#Add the corresponding empty columns to the dataframe
df = pd.concat([df, pd.DataFrame(columns = search_queries)], sort = True)

#Get the number of amenities/places within 1.0 miles from the center of each borough
radius = 1.0 * 1609.34

#Number of results to return
limit = 50

#Foursquare version
version = 20200617

# search = 'Cinema'
# url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&query={}&radius={}&v={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, df.loc[1, 'Latitude'], df.loc[1, 'Longitude'], search, radius, version, limit)
# results = requests.get(url).json()
# value = len(results['response']['venues'])
# value

#Update the dataframe
for i, row in df.iterrows():
    for search_query in search_queries:
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&query={}&radius={}&v={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, row['Latitude'], row['Longitude'], search_query, radius, version, limit)
        results = requests.get(url).json()
        if 'venues' in results['response'].keys():
            value = len(results['response']['venues'])
        else:
            value = 0
        df.loc[i, search_query] = value

df.head()

,Population,Cinema,Income,Italian Restaurant,Latitude,London borough,Longitude,Theatre,University
0,262226.0,5,634.7,50,51.542305,Camden,-0.139560,25,10
1,286186.0,3,573.7,29,51.482084,Greenwich,-0.004542,4,25
2,279665.0,4,555.6,34,51.543240,Hackney,-0.049362,4,5
3,185426.0,4,681.3,50,51.492038,Hammersmith and Fulham,-0.223640,10,1
4,239142.0,9,687.6,50,51.538429,Islington,-0.099905,28,50

## Part 3: rank the boroughs from the most to the least suitable

In [30]:
#Create a new dataframe to store the ranks
df_ranks = pd.DataFrame()

#Select the features to rank and the way they are ranked (True = descending...)
features_to_rank = [('Population', True), ('Income', True)]
df.columns
# result = df.loc[:, feature[0]].rank(ascending = feature[1])
# result

# for feature in features_to_rank:
#     column_name = feature[0] + '_rnk'
#     df_ranks[column_name] = df[feature[0]].rank(ascending = feature[1])

# df_ranks.head()

Index([' Population', 'Cinema', 'Income', 'Italian Restaurant', 'Latitude',
       'London borough', 'Longitude', 'Theatre', 'University'],
      dtype='object')