In [1]:
import pandas as pd
import requests

Get the list of London boroughs from Wikipedia

In [24]:
#Interrogate the target url
website_url = 'https://en.wikipedia.org/wiki/London_boroughs'
result = requests.get(website_url).text

#Define the class of the elment we're looking for [wikipedia table]
class_to_search = 'wikitable sortable'

#Retrieve all the tables in the document. Return an exception if no table is found.
tables = pd.read_html(website_url, attrs = {'class': class_to_search})
if not len(tables) > 0:
    raise Exception('The source page contains no tables')

#Get the first table (there is only one in the source page)
df = tables[0]

#Keep the borough column only
df = df[['London borough']]

#Clean the data
pd.set_option('mode.chained_assignment', None) #Switches off annoying warning
replacements = {'Hammersmith[notes 2]' : 'Hammersmith', 
                'Barking[notes 3]' : 'Barking'}
for key in replacements.keys():
    df.replace(to_replace = key, value = replacements[key], inplace = True)
df

            London borough
0                   Camden
1                Greenwich
2                  Hackney
3              Hammersmith
4                Islington
5   Kensington and Chelsea
6                  Lambeth
7                 Lewisham
8                Southwark
9            Tower Hamlets
10              Wandsworth
11             Westminster
12                 Barking
13                  Barnet
14                  Bexley
15                   Brent
16                 Bromley
17                 Croydon
18                  Ealing
19                 Enfield
20                Haringey
21                  Harrow
22                Havering
23              Hillingdon
24                Hounslow
25    Kingston upon Thames
26                  Merton
27                  Newham
28               Redbridge
29    Richmond upon Thames
30                  Sutton
31          Waltham Forest

Get the boroughs coordinates through GeoPy and add them to the dataframe

In [43]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent = "courser_capstone_battle_of_neighbourhoods_fb")
boroughs = df['London borough'].tolist()

#Get the locations
locations = list()
for borough in boroughs:
    locations.append(geolocator.geocode(borough + ', London'))
locations

[Location(Camden Town, London, Greater London, England, NW1 9PJ, United Kingdom, (51.5423045, -0.1395604, 0.0)),
 Location(Greenwich, London, Greater London, England, SE10 9HF, United Kingdom, (51.4820845, -0.0045417, 0.0)),
 Location(Hackney, London, Greater London, England, E9 6QW, United Kingdom, (51.5432402, -0.0493621, 0.0)),
 Location(Hammersmith, London Borough of Hammersmith and Fulham, London, Greater London, England, W6 9YA, United Kingdom, (51.4920377, -0.2236401, 0.0)),
 Location(Islington, London, Greater London, England, N1, United Kingdom, (51.5384287, -0.0999051, 0.0)),
 Location(Kensington, London, Greater London, England, W8 6NA, United Kingdom, (51.4989948, -0.1991229, 0.0)),
 Location(Lambeth, London, Greater London, England, SE1 7GD, United Kingdom, (51.5013012, -0.117287, 0.0)),
 Location(Lewisham, London, Greater London, England, SE13 6BB, United Kingdom, (51.4624325, -0.0101331, 0.0)),
 Location(Southwark, London, Greater London, England, SE1 0QB, United Kingdom, (51.5029222, -0.103458, 0.0)),
 Location(Air Training Corps 31 (Tower Hamlets) Squadron, Mile End Road, Globe Town, Mile End, London Borough of Tower Hamlets, London, Greater London, England, E3 4SS, United Kingdom, (51.5256294, -0.0335853, 0.0)),
 Location(Wandsworth, London, Greater London, England, SW18 4BX, United Kingdom, (51.4570271, -0.1932607, 0.0)),
 Location(Westminster, Bridge Street, St. James's, Millbank, City of Westminster, London, Greater London, England, SW1A 2LW, United Kingdom, (51.5013562, -0.1249302, 0.0)),
 Location(Barking, London, Greater London, England, IG11 8NL, United Kingdom, (51.5389922, 0.0804245, 0.0)),
 Location(Chipping Barnet, London Borough of Barnet, London, Greater London, England, EN5 5SB, United Kingdom, (51.65309, -0.2002261, 0.0)),
 Location(Bexley, London Borough of Bexley, London, Greater London, England, DA5 1LD, United Kingdom, (51.4416793, 0.150488, 0.0)),
 Location(London Borough of Brent, London, Greater London, England, United Kingdom, (51.563825800000004, -0.2757596561855699, 0.0)),
 Location(Bromley, London, Greater London, England, BR1 1EY, United Kingdom, (51.4028046, 0.0148142, 0.0)),
 Location(Croydon, London, Greater London, England, CR0 1SZ, United Kingdom, (51.3713049, -0.101957, 0.0)),
 Location(Ealing, London Borough of Ealing, London, Greater London, England, W5 5DG, United Kingdom, (51.5126553, -0.3051952, 0.0)),
 Location(Enfield, London, Greater London, England, EN2 6LD, United Kingdom, (51.6520851, -0.0810175, 0.0)),
 Location(London, High Road, Hornsey Park, London Borough of Haringey, London, Greater London, England, N22 8JR, United Kingdom, (51.6014893, -0.1116958, 0.0)),
 Location(London Borough of Harrow, London, Greater London, England, United Kingdom, (51.5967688, -0.33727515543507014, 0.0)),
 Location(Havering, Lewis Street, Kentish Town, London Borough of Camden, London, Greater London, England, NW1 8TH, United Kingdom, (51.5443687, -0.1443031798919795, 0.0)),
 Location(London Borough of Hillingdon, London, Greater London, England, United Kingdom, (51.542519299999995, -0.44833493117949663, 0.0)),
 Location(Hounslow, London Borough of Hounslow, London, Greater London, England, TW3 1BL, United Kingdom, (51.4686132, -0.3613471, 0.0)),
 Location(Kingston upon Thames, London, Greater London, England, KT1 1JS, United Kingdom, (51.4096275, -0.3062621, 0.0)),
 Location(London Borough of Merton, London, Greater London, England, United Kingdom, (51.410802849999996, -0.18809850595572736, 0.0)),
 Location(London Borough of Newham, London, Greater London, England, United Kingdom, (51.52999955, 0.02931796029382208, 0.0)),
 Location(Redbridge, Eastern Avenue, Aldersbrook, Wanstead, London Borough of Redbridge, London, Greater London, England, IG4 5DQ, United Kingdom, (51.5763203, 0.0454097, 0.0)),
 Location(London Borough of Richmond upon Thames, London, Greater London, England, United Kingdom, (51.44046095, -0.3055192359117199, 0.0)),
 Location(London Borough of Sutton, London, Greater London, England, United Kingdom, (51.3575114, -0.173640122600872, 0.0)),
 Location(London Borough of Waltham Forest, London, Greater London, England, United Kingdom, (51.59816935, -0.01783667461048707, 0.0))]

In [50]:
#Add geolocation to the dataframe
df['Latitude'] = [location.longitude for location in locations]
df['Longitude'] = [location.longitude for location in locations]
df.head()

  London borough  Latitude  Longitude
0         Camden -0.139560  -0.139560
1      Greenwich -0.004542  -0.004542
2        Hackney -0.049362  -0.049362
3    Hammersmith -0.223640  -0.223640
4      Islington -0.099905  -0.099905

Get average income data and add them to the dataframe. Data are referred to year 2018; values are in Â£/week. Source: https://data.london.gov.uk/dataset/earnings-place-residence-borough